@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617;
  color: #f1f5f9;
  overflow-x: hidden;
}